{% extends "base.html"%}
{% block content %}
<div class="container">
    <h1 class="text-center p-4">Hottest news</h1>
    <div class="d-flex flex-wrap justify-content-center">
        {% for noticia in noticias %}
        {% for i in noticia %}
        {% if i.get_categoria() == "Hottest news" %}
        <div class="d-inline-flex p-2 ">
            <div class="card" style="width: 28rem;">
                <img src="{{ i.get_imagem() }}" class="card-img-top" alt="..." width="450px" height="300px">
                <div class="card-body">
                    <h4 class="card-title">{{ i.get_titulo() }}</h4>
                    <p class="card-text">{{ i.get_resumo() }}</p>
                    <a href={{ url_for('exibir_noticia', id = i.get_id()) }} class="btn btn-primary">Ler mais</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    <h1 class="text-center p-4">Latest news</h1>
    <div class="d-flex flex-wrap justify-content-center">
        {% for noticia in noticias %}
        {% for i in noticia %}
        {% if i.get_categoria() == "Latest news" %}
        <div class="d-inline-flex p-2 ">
            <div class="card" style="width: 18rem;">
                <img src="{{ i.get_imagem() }}" class="card-img-top" alt="..." width="250px" height="200px">
                <div class="card-body">
                    <h5 class="card-title">{{ i.get_titulo() }}</h5>
                    <p class="card-text">{{ i.get_resumo() }}</p>
                    <a href={{ url_for('exibir_noticia', id = i.get_id()) }} class="btn btn-primary">Ler mais</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}